POO/Python_POO.egg-info/dependency_links.txt
POO/Python_POO.egg-info/PKG-INFO
POO/Python_POO.egg-info/requires.txt
POO/Python_POO.egg-info/SOURCES.txt
POO/Python_POO.egg-info/top_level.txt
POO/src/__pycache__/
